.App {
  font-family: sans-serif;
  text-align: center;
}

.moviesList {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.movieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.movieItemWrapper {
  border: 2px solid lightblue;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(223, 241, 248);
}

.titleMovie {
  border-bottom: 1px solid lightblue;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.field {
  padding: 10px;
}
.field::first-line {
  font-weight: bold;
}

.button {
  width: 100px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(44, 83, 158);
  background: -moz-linear-gradient(top, rgb(44, 83, 158) 0%, rgb(44, 83, 158) 100%);
  background: -webkit-linear-gradient(top, rgb(44, 83, 158) 0%, rgb(44, 83, 158) 100%);
  background: linear-gradient(to bottom, rgb(44, 83, 158) 0%, rgb(44, 83, 158) 100%);
  border: none;
}

.button:hover {
  background: rgb(73, 155, 234);
  background: -moz-linear-gradient(top, rgb(73, 155, 234) 0%, rgb(32, 124, 229) 100%);
  background: -webkit-linear-gradient(top, rgb(73, 155, 234) 0%, rgb(32, 124, 229) 100%);
  background: linear-gradient(to bottom, rgb(73, 155, 234) 0%, rgb(32, 124, 229) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
}
