.App {
  font-family: sans-serif;
  text-align: center;
}

.moviesList {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid lightblue;
}
.movieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.movieItemWrapper {
  border: 1px solid lightblue;
  margin: 10px;
}

.titleMovie {
  border-bottom: 1px solid lightblue;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.field {
  padding: 10px;
}
.field::first-line {
  font-weight: bold;
}
