.App {
  font-family: sans-serif;
  text-align: center;
}

.moviesList {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.movieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.movieItemWrapper {
  border: 1px solid lightblue;
  margin: 10px;
  background-color: rgb(223, 241, 248);
}

.titleMovie {
  border-bottom: 1px solid lightblue;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.field {
  padding: 10px;
}
.field::first-line {
  font-weight: bold;
}

.button {
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid rgb(95, 91, 91);
  height: 30px;
  width: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}